.welcome__container {
    width: 100vw;
    height: 90vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-animation: flip-2-hor-top-1 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: flip-2-hor-top-1 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.logo {
    margin-right: 2vw;
    width: 50vw;
}
.title {
    font-size: 7vw;
    margin-bottom: 10px;
}
.description {
    width: 70vw;
}