:root {
    --button-active-color: linear-gradient(180deg, #3D7FA1 0%, #355F75 100%);
}

.login__header {
    display: flex;
    align-items: center;
    margin-bottom: 4vw;
    transition: 0.8s;
}

.login__header:hover {
    transform: rotate(-2deg);
}


.login__header .login__image {
    width: 4.7vw;
    margin-right: 0.8vw;
}

.login__title {
    font-size: 1.5vw;
}

.login__description {
    font-size: 0.9vw;
    color: var(--alpha-color);
}

.continue__container {
    display: grid;
}
