.modal__container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    
    animation: fade-in .4s;
}

.modal__info {
    width: 380px;
    display: flex;
}

.status__svg {
    margin-right: 8px;
}

.status__svg svg {
    width: 72px;
    height: 72px;
}

.status__label__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}
.status__label__container p {
    margin: 0;
    padding: 0;
}

.status__title {
    font-size: 24px;
}

.status__description {
    color: var(--alpha-color);
    font-size: 18px;
}

.status__edit__field {
    display: flex;
}
.status__edit__field input {
    background: transparent;
    border-bottom: 1px solid #C9D1D9;
    width: 250px;
    font-size: 14px;
    margin-right: 11px;
}
.status__edit__field svg {
    width: 27px;
    height: 27px;
    transition: .25s;
}

.status__edit__field svg:hover {
    transform: scale(1.2);

}

.status__edit__field svg:active {
    opacity: 0.4;
    transform: scale(0.99);
}

.tap__close__stataus {
    position: absolute;
    font-size: 32px;
    color: white;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    background: var(--blur-background-color);
	backdrop-filter: blur(var(--blur-background-pixel));
    animation: fade-in .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tap__close__stataus:hover > .tap__close__status__label,
.tap__close__stataus:hover > .tap__close__status__label2 {
    opacity: 1;
}

.tap__close__status__label {
    width: 300px;
    display: flex;
    justify-content: center;
    margin-top: 300px;
    margin-right: 50px;
    opacity: 0;
    transition: .4s;
}

.tap__close__status__label2 {
    width: 300px;
    display: flex;
    justify-content: center;
    margin-top: 450px;
    opacity: 0;
    transition: .4s;
}
