.bg-focus {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .26s;
    width: 100%;
    height: 100%;
    background: var(--blur-background-color);
	backdrop-filter: blur(var(--blur-background-pixel));
    animation: fade-in .3s;
}
.bg-focus p {
    margin-top: 30%;
    font-size: 32px;
    color: white;
    opacity: 0;
    transition: .4s;
}

.bg-focus:hover > p {
    opacity: 1;
}

.date-picker-container {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: slide-top-no-transform .3s;
    border-radius: 5px;
}

.date-confirm-content {
    width: 100%;
    display: flex;
    justify-content: end;
}
.date-period-content {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
}
.margin-right-8px {
    margin-right: 8px;
}

.picker-button {
    transition: .3s;
    padding: 8px;
    border-radius: 5px;
}

.active-button {
    background: var(--active-button-color);
}

.unactive-button {
    background: var(--button-un-active-color);
}