:root {
    --field-input-bg: rgb(239, 239, 239);
    --field-input-border-color: rgb(145, 145, 145);
}

.login__email__container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-animation: flip-2-hor-top-1 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-2-hor-top-1 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.login__email__header {
    display: flex;
    align-items: center;
    margin-bottom: 4vw;
    transition: 0.8s;
}

.login__email__header .login__image {
    width: 4.7vw;
    height: 4.7vw;
    margin-right: 0.8vw;
}

.login__form {
    margin-bottom: 30px;
}

.login__form p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    padding: 0;
}

.login__form input {
    margin-top: 0;
    color: black;
    background: var(--field-input-bg);
    font-size: 16px;
    border: 1px solid var(--field-input-border-color);
    width: 425px;
    border-radius: 5px;
    padding-left: 8px;
    padding-top: 7px;
    padding-bottom: 6px;
}

.email__field {
    margin-bottom: 30px;
}

.login__button {
    background: var(--button-active-color);
    text-decoration: none;
    color: white;
    padding: 5px 0.7vw 5px 0.7vw;
    border-radius: 5px;
    width: 425px;
    text-align: center;
    font-size: 20px;
    transition: .3s;
    margin-bottom: 170px;
}

.login__button:hover {
    opacity: 0.8;
}

.login__button:active {
    opacity: 1;
    transform: scale(0.98);

}

.login__footer {
    font-size: 13px;
    text-align: center;
}
