.home-container {
	min-height: 100vh;
	display: flex;
	background-color: #010409;
}

.home-sidebar {
	display: flex;
	flex-direction: column;
	width: 360px;
	padding: 16px;
}

.home-profile {
	display: flex;
	background-color: #0d1117;
	align-items: center;
	padding: 8px 16px;
	border-radius: 16px;
}

.home-profile .profile-image-container {
	display: flex;
	margin-right: 16px;
}

.home-profile .profile-image-container img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
}

.profile-desc-container {
	width: 180px;
}

.profile-desc-container button {
	background-color: #21262d;
	border: 1px solid #424242;
	color: white;
	text-decoration: none;
	width: 82px;
	height: 32px;
	font-size: 14px;
	border-radius: 6px;
}

.profile-desc-container button:not(:last-child) {
	margin-right: 12px;
}

.find-quiz-container,
.make-quiz-container {
	display: flex;
	flex-direction: column;
	padding: 16px;
	background-color: #0d1117;
	border-radius: 16px;
	margin: 16px 0;
}

.find-quiz-container input {
	outline: none;
	border: 1.5px solid #585e65;
	border-radius: 5px;
	background-color: inherit;
	color: #c9d1d9;
	height: 50px;
	padding: 0 16px;
	/* margin: 8px 0 16px; */
}

.find-quiz-container input::placeholder {
	color: rgba(201, 209, 217, 0.4);
}

.find-quiz-container button,
.make-quiz-container button {
	background-color: #238636;
	color: #c9d1d9;
	border-radius: 6px;
	font-size: 17px;
	padding: 6px 0;
	margin-top: 8px;
}

.home-content {
	flex: 1;
	padding: 16px;
}

.quiz-list-container {
	display: flex;
}
