
.profile_value_box {
	display: flex;
	margin-top: 0.5rem;
}
.profile_value_box_image {
	width: 3rem;
	height: 3rem;
	margin-right: 0.5rem;
}
.profile_value_box_image > img {
	width: 100%;
	height: 100%;
	border-radius: 1.5rem;
	object-fit: cover;
}
.profile_value_box_content {
	display: flex;
	flex-direction: column;
}
.anm_user_cant_analysis {
	color: var(--alpha-color);
	font-size: 0.8rem;
	white-space: pre-line;
}