.notify__container {
    position: absolute;
    z-index: 999999;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    animation: slide-top-no-transform .3s;
}

.notify__header {
    margin-right: 14px;
}

.notify__body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.notify__title__container p {
    margin: 0;
    padding: 0;
}

.notify__header {
    width: 70px;
    height: 70px;
}

.notify__header svg {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.notify__title {
    font-size: 24px;
}

.notify__description {
    font-size: 18px;
    color: var(--alpha-color);
}

.notify__giving__information {
    font-size: 14px;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}


.tap__close__label {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--alpha-color);
    transition: .26s;
    background: var(--blur-background-color);
	backdrop-filter: blur(var(--blur-background-pixel));
    z-index: 999998;
}

.tap__close__label:hover + .notify__container .tap__to__close__div {
    opacity: 1;
}

.tap__to__close__div:hover {
    opacity: 1;
}

.tap__close__label > p {
    font-size: 32px;
    margin-top: 300px;
    color: white;
}

.tap__to__close__div {
    position: absolute;
    font-size: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 250%;
    right: 10%;
    opacity: 0;
    transition: .4s;
    animation: fade-in .4s;
}
