.avg-prog-left-content {
	display: flex;
	flex-direction: column;
	margin-right: 2.5rem;
}

#fixed-width-avg-pass {
	width: 6.9375rem;
}

.avg-pass-instructor {
	display: flex;
	margin-bottom: 0.3rem;
}
.progress-bar-percent {
	width: 370px;
	background: red;
	display: flex;
	height: 1.2rem;
}

.prog-per-left-side, .prog-per-right-side {
	height: 100%;
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 0.75rem;
	overflow: hidden;
}

.prog-per-left-side {
	width: 30%;
	background: #34495E;
	justify-content: end;
	padding-right: 0.35rem;
}
.prog-per-right-side {
	width: 70%;
	background: #E67E22;
	justify-content: start;
	padding-left: 0.35rem;
}

