.average_item {
	margin-right: 3rem;
}

.avg_header {
	display: flex;
}

.avg_header_title {
	color: #FFF;
	font-size: 1.375rem;
	font-weight: bold;
}

.avg_header_svg {
	width: 0.625rem;
	height: 0.625rem;
	margin-top: .40rem;
	margin-left: .3rem;
}
.avg_header_svg > svg {
	width: 100%;
	height: 100%;
}

.avg_result {
	color: #C9D1D9;
	font-size: 2rem;
}

.avg_header_title_svg {
	width: 1.875rem;
	margin-right: 0.5rem;
}
.avg_header_title_svg > svg {
	width: 100%;
	height: 100%;
}