.login__btn, .signup__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1vh;
	margin-right: 2vw;
	transition: .25s;
}
.login__btn svg, .signup__btn svg {
	margin-right: 8px;
}

.login__btn:hover, 
.signup__btn:hover {
	opacity: .8;
}
.login__btn:active,
.signup__btn:active {
	transform: scale(0.95);
}

.home__nav__svg {
	margin-top: 0.32vh;
	width: 1.1vw;
	height: 1.1vw;
	margin-right: 5px;
}

.home__fixed {
	margin-top: 0.25vh;
}

.navbar {
	-webkit-animation: flip-2-hor-top-1 0.9s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: flip-2-hor-top-1 0.9s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}


.navbar button {
	display: flex;
	justify-content: center;
	border: none;
	color: white;
	font-size: 1vw;
    transition: .3s;
}

.navbar button:hover {
	opacity: 0.8;
}

.navbar button:active {
	opacity: 1;
    transform: scale(0.95);
}
