.welcome__container {
    width: 100vw;
    height: 90vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title__container .logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2vw;
    width: 7vw;
}
.title__container .title {
    display: inline-block;
    vertical-align: middle;
    font-size: 6vw;
}
.description {
    width: 70vw;
}