.quiz__detail__container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100vw;
    align-items: center;
    margin-top: 40px;
    animation: fade-in 1s;
}

.quiz__detail__top {
    display: flex;
    margin-bottom: 250px;
}

.quiz__detail__image {
    width: 344px;
    height: 230px;
    margin-right: 31px;
}

.quiz__detail__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.quiz__detail__paragraph {
    height: 230px;
}
.quiz__detail__title__and__description {
    height: 200px;
}

.quiz__detail__title__and__description .title {
    font-size: 32px;
    font-weight: bold;
}

.quiz__detail__title__and__description .description {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
}

.quiz__detail__title__and__description p {
    margin: 0;
}

.quiz__detail__deep__info {
    display: flex;
}

.quiz__detail__deep__info svg {
    width: 23px;
    height: 23px;
    margin-right: 5px;
}

.quiz__detail__deep__info p {
    display: flex;
    margin-right: 24px;
}
.bottom__it {
    position: fixed;
    bottom: 30px;
}

.reveal__quiz__button {
    position: absolute;
    display: flex;
    align-items: center;
    transition: .3s;
    bottom: 40px;
}

.reveal__quiz__button svg {
    width: 60px;
    height: 50px;
    margin-right: 10px;
}

.reveal__quiz__button {
    font-size: 40px;
}

.footer_detail_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: var(--alpha-color);
}

.footer_detail_container p {
    display: flex;
    align-items: center;
}

.footer_detail_container p svg {
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.reveal__quiz__button:hover {
    transform: scale(1.05);
    opacity: .7;
}

.reveal__quiz__button:active {
    transform: scale(0.95);
    opacity: 1;
}


.score__result {
    position: fixed;
    top: 50%;
    display: flex;
    align-items: center;
}

.score__result > .score__svg {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    margin-top: 2.5px;
}

.score__result > .score__svg > svg {
    width: 100%;
    height: 100%;
}

.score__result > .score__description {
    font-size: 50px;
}

.footer__socre {
    display: flex;
}

.footer__score__focus {
    display: flex;
    align-items: center;
}

.footer__score__focus > svg {
    margin-left: 5px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}