.select__choice {
    display: flex;
    align-items: center;
    padding: 30px;
}

.select__choice > .grid-choice {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    margin-right: 50px;
    vertical-align: top;
}

.select__choice > .grid-choice > button {
    padding: 10px 10px 9px 10px;
    min-width: 450px;
    border-radius: 5px;
    white-space: pre-wrap;
}

.selected-choice {
    background: var(--active-button-color);
}

.un-selected-choice {
    background: var(--button-un-active-color);
}
