@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


:root {
	--web-background-color: radial-gradient(50% 50% at 50% 50%, #1A2327 0%, #0F0F0F 100%);
	--font-color: #ffffff;
	--border-line: #585E65;
	--normal-button-color: #161B22;
	--modal-background-color: #0d1117;
	--success-button-color: #238636;
	--select-button-color: #238636;
	--error-color: #EA4949; 
    --alpha-color: #C9D1D9;
	--card-bg: #262626;
}


.App {
	margin: 0;
	padding: 0;
	color: #ffffff;
	/* overflow: hidden; */
    font-family: 'Poppins', 'Prompt', sans-serif;
	font-weight: 300;
	min-height: 100vh;
	background: var(--web-background-color);
}


.profile__name {
	font-size: 17px;
}

.under__description {
	font-size: 13px;
}

.question {
	position: absolute;
	top: 6.425%;
	left: 2.15%;
}

.select__question {
	position: absolute;
	top: 11.425%;
	left: 2.15%;
	border-radius: 3px;
	display: flex;
	flex-wrap: wrap;
	border: solid var(--border-line) 1px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
}


.select__question__button {
	background-color: var(--normal-button-color);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	margin-left: 10px;
}

.selected__question__button {
	transition: .3s;
	background-color: var(--select-button-color);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	margin-left: 10px;
}

.fill__choice {
	width: 100%;
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 10px;
	row-gap: 10px;
}

.fill__choice button {
	font-size: 16px;
	border-radius: 3px;
	padding-top: 20px;
	padding-bottom: 20px;
	transition: .3s;
}

.fill__choice__selected {
	background-color: var(--select-button-color);
}

.fill__choice__unselect {
	background: var(--normal-button-color);
}

.add__question__button, .remove__question__button {
	outline: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 3px;
	background: var(--success-button-color);
	margin-top: 15px;
	transition: .2s;
}
.add__question__button:hover, .remove__question__button:hover{
	opacity: .8;
	transform: scale(99%);
}

.add__question__button:active, .remove__question__button:active{
	transform: scale(101%);
}

.remove__question__button {
	background: var(--error-color);
}

.selection__question__creating {
	margin-top: 5px;
	padding-left: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	outline: 0;
	border-radius: 6px;
	border: 1px solid #c9d1d938;
	width: 150px;
	background: var(--web-background-color);
	text-overflow: ellipsis; 
}

.not__hide__correct_answer, .hide__correct_answer {
	line-height: 30px;
	margin-top: 10px;
}

.timer__show__correct_answer, .timer__not__show__correct_answer {
	color: var(--font-color);
	background: var(--normal-button-color);
	border-radius: 6px;
	padding: 5px;
}


.timer__not__show__correct_answer {
	color: white;
	background: var(--error-color);
}




/* ----------------------------------------------
 * Generated by Animista on 2023-6-13 18:9:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-left {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
			  transform: translateX(100px);
	}
	50%{
		opacity: 0;
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
			  transform: translateX(0);
		
	}
  }
  @keyframes slide-left {
	0% {
		opacity: 0;
	
			  -webkit-transform: translateX(100px);
			  transform: translateX(100px);
	}
	50%{
		opacity: 0;
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
  }


 @-webkit-keyframes slide-right {
	0% {
	  
		opacity: 0;
		-webkit-transform: translateX(-100px);
			  transform: translateX(-100px);
	}
	50%{
		opacity: 0;
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
  }
  @keyframes slide-right {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100px);
			  transform: translateX(-100px);
	}
	50%{
		opacity: 0;
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
			  transform: translateX(0);
	}
  }
  