.question__reveal__selection{
    display: flex;
}
.question__reveal__selection > .task {
	margin-top: 10px;
    display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-gap: 10px;
}

.question__reveal__selection > .task > button {
	width: 40px;
	height: 40px;
	font-size: 20px;
	border-radius: 3px;
}

.question__reveal__selection > .task > button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 3px;
}

.current-task-button {
    background: var(--active-button-color);
}

.done-task-button {
    background: var(--done-task-button-color);
}

.unselect-button {
    background: var(--button-un-active-color);
}
