.ContainerCreateQuiz {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #010409;

    /* display: flex;
    justify-content: center; */

}


.section1 {
    width: 100%;
    height: 8%;

    background-color: #4A5059;
    border-radius: 0 0 7.5px 7.5px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;

}

.section2 {
    width: 20%;
    height: 100%;
    background: #FFF;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:center;

}

.section3 {
    width: 80%;
    height:100%;
    background-color: aqua;
    padding: 0;
    margin: 0;

}

::placeholder {
    color: #FFF;
}
.row{
    width: 100%;
    height: 100%;
    background-color: #010409;
    padding: 0;
    margin: 0;
}